# Ignore pdfs
*.pdf

# Ignore csvs
*.csv

# Ignore html
*.html

# Ignore ipynb
*.ipynb

# Ignore .RData
*.RData

# Ignore .DS_Store
.DS_Store

# Ignore .Rproj
.Rproj

# Ignore .Rhistory
.Rhistory

# Ignore zips
*.zip

# Ignore .xlsx
*.xlsx

# Ignore tar.gz
*tar.gz
